
@{
    ViewBag.Title = "IndexCondor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        height: 500px;
        width: 500px;
    }

        h1{
       background-color:#000000;
       opacity: 0.8;
    }

    .glyphicon {
        font-size: 30px;
    }
</style>
<a href="http://localhost:51628/Home/Index" type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-home"></span>
</a>
<h1 class="text-info"><a href="http://localhost:51628/InformaciónAnimales/Index">Aprende de los animales</a>/<small>Condor Andino</small></h1>
<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    <table style="width:100%">
        <tr>
            <td>
                <div class="jumbotron">
                    <h2>Cóndor Andino</h2>
                    <center><img src="~/Images/1.png" /></center><br />
                    <p style="color:black; text-align:justify;">
                        <b>Descripción: </b>Es el aves voladoras más grande del mundo. Mide entre 102 a 127cm. De punta a punta de las alas llegan a medir 3,20 m. Pesa aproximadamente de 8 a 15 kg. La cabeza es desnuda; en el caso del macho es de color rosácea, con la presencia de una cresta y papada; en la hembra la cabeza es más oscura y no posee cresta ni papada. El ojo de la hembra es de color rojo, mientras que el macho tiene el ojo color café –verdoso.  El resto de su cuerpo es de color negro, con un collar alrededor del cuello y una franja en sus alas de color blanco. Los  juveniles son de color marrón oscuro y carece del collar blanco.
                        <br />
                        <b>Hábitat:</b> Vive en las montañas de la cordillera de los Andes, los páramos y los valles del callejón interandino. Se lo encuentra desde los 2.000 hasta los 4.200m de de altura.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>

