
@{
    ViewBag.Title = "IndexEspin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        height: 500px;
        width: 500px;
    }

    .glyphicon {
        font-size: 30px;
    }
        h1{
       background-color:#000000;
       opacity: 0.8;
    }
</style>
<a href="http://localhost:51628/Home/Index" type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-home"></span>
</a>
<h1 class="text-info"><a href="http://localhost:51628/InformaciónAnimales/Index">Aprende de los animales</a>/<small>Puerco Espín</small></h1>
<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    <table style="width:100%">
        <tr>
            <td>
                <div class="jumbotron">
                    <h2>Puerco Espín</h2>
                    <center><img id="h" src="~/Images/1.png" /></center><br />
                    <p style="color:black; text-align:justify;">
                        <b>Descripción:</b> Su cuerpo mide entre 45 a 63 cm incluyendo la cola. Presenta una especie de pelos muy duros y gruesos a manera de púas en la mayor parte de su cuerpo, con excepción de la punta de la cola, rostro y palmas de las extremidades. Su cola es prensil, gruesa en la base y delgada en la punta, está provista de pelos más finos y cortos que los que se encuentran en el resto de su cuerpo. Presenta extremidades cortas, con garras largas y curvas; el pulgar esta modificado en forma de una almohadilla, que le permite adherirse a ciertos troncos y de esta manera trepar en los árboles.
                        <br />
                        <b>Hábitat:</b> Endémico de Ecuador, habita en climas fríos; en bosques templados y valles interandinos, de preferencia en quebradas; entre 2500 y 3500 m de altitud.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>
<audio src="~/sounds/1.mp3" autoplay></audio>

