
@{
    ViewBag.Title = "IndexCarpintero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        height: 500px;
        width: 500px;
    }

    .glyphicon {
        font-size: 30px;
    }

        h1{
       background-color:#000000;
       opacity: 0.8;
    }
</style>
<a href="http://localhost:51628/Home/Index" type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-home"></span>
</a>
<h1 class="text-info"><a href="http://localhost:51628/InformaciónAnimales/Index">Aprende de los animales</a>/<small>Carpintero Real</small></h1>
<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    <table style="width:100%">
        <tr>
            <td>
                <div class="jumbotron">
                    <h2>Carpintero Real</h2>
                    <center><img src="~/Images/0.png" /></center><br />
                    <p style="color:black; text-align:justify;">
                        <b>Descripción: </b>El picamaderos picomarfil o carpintero real (Campephilus principalis) es una especie de ave de la familia de los pájaros carpinteros (Picidae). El carpintero real es el segundo mayor pájaro carpintero del mundo. El carpintero real mide de 48 a 53 cm de longitud y pesa entre 450 y 570 g.
                        <br />
                        <b>Hábitat: </b>Los carpinteros reales habitan en pantanos con bosques densos de árboles de madera dura así como bosques de pinos con grandes cantidades de árboles muertos o enfermos.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>


