
@{
    ViewBag.Title = "IndexPuma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        height: 500px;
        width: 500px;
    }

    .glyphicon {
        font-size: 30px;
    }
        h1{
       background-color:#000000;
       opacity: 0.8;
    }
</style>
<a href="http://localhost:51628/Home/Index" type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-home"></span>
</a>
<h1 class="text-info"><a href="http://localhost:51628/InformaciónAnimales/Index">Aprende de los animales</a>/<small>Puma Concolor</small></h1>
<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    <table style="width:100%">
        <tr>
            <td>
                <div class="jumbotron">
                    <h2>Puma Concolor</h2>
                    <center><img src="~/Images/2.png" /></center><br />
                    <p style="color:black; text-align:justify;">
                        <b>Descripción: </b>Es un felino de gran tamaño mide entre 149 a 250 cm incluyendo su cola, pesa entre 29 y 120 kg. Siendo el macho más grande que la hembra: Su cuerpo es de color marrón rojizo oscuro y no presenta manchas de ningún tipo. Aunque la región ventral es más pálida que el dorso. Tiene cola larga y de color negro en la punta, sus piernas son largas y delgadas. Cabeza relativamente pequeña, hocico y orejas cortos.
                        <br />
                        <b>Hábitat: </b>En el Ecuador habita en Costa, Sierra, Amazonía y estribaciones de los Andes; está presente en todo el Ecuador continental, entre 0 y 4500 m de altitud. Ocupa todos los ecosistemas terrestres existentes, en bosques tropicales, subtropicales y templados.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>

