    @{
        ViewBag.Title = "About";
    }
<style>
            nav{
            background-color:black; 
            opacity: 0.8;
        }
</style>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="http://localhost:51628/Home/Index">Inicio</a>
        <a class="navbar-brand" href="http://localhost:51628/Home/About">Acerca de nosotros</a>
        <a class="navbar-brand" href="http://localhost:51628/Home/Contact">Contáctanos</a>
    </nav>
<div class="jumbotron" style="background-color:white; opacity: 0.8;">

    <h2>EcoGame</h2>
    <h3>Aplicaciones Web - Proyecto 2° Bimestre</h3>
    <p>
        Este proyecto se realizó con el fin de desarrollar una aplicación web para el Museo de la Escuela Politécnica Nacional, 
    </p>
    <p>
        La aplicación web consta de un juego para niños, con el objetivo de que los niños aumenten su interés por conocer el museo, y por aprender sobre la fauna del Ecuador.
    </p>
    <br />
    <h2>Museo</h2>
    <h3>
        <b>Ubicación</b>
    </h3>
    Instituto de Ciencias Biológicas, subsuelo del Teatro Politécnico.
    <h3>
        <b> Horario de atención</b>
    </h3>
    8:00 a 16:00 de lunes a viernes
    <h3>
        <b>Costo</b>
    </h3>
            Público en general USD. 1,00
          <br />  Estudiante USD. 0,50
    <h3>
                <b>Información</b>
    </h3>
    Teléfono : 2 236 690 / 2 507 144  Ext : 2250
    <br />
    E-mail :  museo@epn.edu.ec
</div>