<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    @{
        ViewBag.Title = "Home Page";
    }

    <table style="width:100%">
        <tr>
            <td>
                <div class="jumbotron">
                    <h1>Jugando con animales</h1>
                    <h2 class="lead">Juego desarrollado para el museo de historia natural "Gustavo Orces V."</h2>
                    <p style="color:black">
                        El siguiente juego fue desarrollado por estudiantes de la EPN, para formar conocimiento de manera interactiva.
                    </p>
                    <p><a href="http://www.epn.edu.ec/museo-de-historia-natural/" target="_blank" class="btn btn-primary btn-lg">Leer mas &raquo;</a></p>
                </div>
            </td>
            <td style="color: white; font-size:36px"><span class="glyphicon glyphicon-chevron-right"></span></td>
            <td>
                <div class="jumbotron">
                    <a href=""><img class="img-responsive" src="~/Images/juego.jpg" /></a>
                    <a href="http://localhost:51628/Play/Index" class="btn btn-primary btn-lg">JUEGO ECOSISTEMAS</a>
                    <a href="http://localhost:51628/JuegoSonidos/Index" class="btn btn-primary btn-lg">JUEGO SONIDOS</a>
                    <a href="http://localhost:51628/Login/Index" class="btn btn-primary btn-lg">INICIAR SESION</a>
                    
                </div>

            </td>
        </tr>
    </table>
</div>
